.navbar-toggle {
    display: none;
}


@media screen and (max-width: 768px) {

    .navbar-toggle {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.8);
        border: 0;
        outline: none;
        padding: 10px;
        position: absolute;
        text-align: center;
        transition: opacity 0.3s;
        width: 36px;
        z-index: 30;
        cursor: pointer;
        padding: 10px;
    }
    
    .navbar-toggle span {
        background-color: var(--theme-color, #42b983);
        display: block;
        margin-bottom: 4px;
        width: 16px;
        height: 2px;
    }

    .app-nav {
        display: none;
        margin: 0;
        top: 40px;
        left: 0;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    }
    .app-nav.active {
        display: block;
    }
    .app-nav>ul {
        display: block;
        padding: 0;
        background: #fff;
    }
    .app-nav>ul>li {
        display: block;
        text-align: left;
        border-bottom: solid 1px rgba(0,0,0,.2);
    }
    .app-nav>ul>li:last-child {
        border: none;
    }

    .app-nav a.active {
        border-bottom: none;
        color:auto;
    }   

    .app-nav>ul>li>ul {
        top: 0;
        z-index: 100;
        max-height: 400px;
        overflow-y: auto;
    }
}